version: '3.8'
services:
  frontend:
    build:
      context: ./fronth-end
    ports:
      - "8080:80"
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/database.sqlite:/usr/src/app/database.sqlite
